/* Button.css */
.blue {
    background-color: #007bff; /* Color azul inicial */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blue:hover {
    background-color: #0056b3; /* Color azul más claro al hacer hover */
}
